[package]
name = "tongo"
authors = ["Drew Zemke"]
version = "0.7.0"
edition = "2021"
license = "MIT"
description = "A TUI for MongoDB"
repository = "https://github.com/drewzemke/tongo"
readme = "README.md"

[lints.clippy]
pedantic = "warn"
nursery = "warn"
unwrap_used = "warn"

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.6", features = ["derive"] }
crossterm = "0.27.0"
dirs = "5.0.1"
futures = "0.3.30"
mongodb = "2.8.2"
ratatui = "0.27.0"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"
tokio = { version = "1.38.0", features = ["full"] }
tui-input = "0.9.0"
tui-tree-widget = "0.21.0"
